<header class="text-center font-serif bg-[#2c2e28] text-[#C4CEB4] pt-10 px-[150px] drop-shadow-[15px_15px_15px_rgba(44,46,40,0.5)]">
      <h1 class="text-5xl font-bold">
            The Tech Blog
      </h1>
      <h2 class="text-lg leading-9 py-10">
            A place to publish a coder's thoughts on the latest software news
      </h2>
</header>

<div class="p-10">
      <br>
</div>

<main class="grid grid-cols-6 gap-4">
      <div class="col-start-2 col-end-4 text-center font-serif bg-[#225f69] text-[#C4CEB4] px-8 py-10 m-5 rounded-lg drop-shadow-[15px_15px_15px_rgba(44,46,40,0.5)]">
            <h3 class="text-2xl font-bold mb-8">
                  Already have an account?
            </h3>
            <div>
                  <button
                  id="login-button"
                  class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium rounded-lg group bg-gradient-to-br from-[#C4CEB4] to-[#bcbcbc] group-hover:from-[#C4CEB4] group-hover:to-[#bcbcbc] hover:text-[#2c2e28] text-[#C4CEB4] focus:ring-4 focus:outline-none focus:ring-green-200"
                  >
                  <span
                  class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-[#225f69] rounded-md group-hover:bg-opacity-0"
                  >
                  Log in
                  </span>
                  </button>
            </div>
      </div>
      <div class="col-start-4 col-end-6 text-center font-serif bg-[#225f69] text-[#C4CEB4] px-8 py-10 m-5 rounded-lg drop-shadow-[15px_15px_15px_rgba(44,46,40,0.5)]">
            <h3 class="text-2xl font-bold mb-8">
                  New user?
            </h3>
            <div>
                  <button
                  id="signup-button"
                  class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium rounded-lg group bg-gradient-to-br from-[#C4CEB4] to-[#bcbcbc] group-hover:from-[#C4CEB4] group-hover:to-[#bcbcbc] hover:text-[#2c2e28] text-[#C4CEB4] focus:ring-4 focus:outline-none focus:ring-green-200"
                  >
                  <span
                  class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-[#225f69] rounded-md group-hover:bg-opacity-0"
                  >
                  Sign up
                  </span>
                  </button>
            </div>
      </div>
</main>

<footer class="text-center font-serif bg-[#2c2e28] text-[#C4CEB4] fixed inset-x-0 bottom-0 pt-5 drop-shadow-[15px_15px_15px_rgba(44,46,40,0.5)] p-10">
      <div class="pt-5">
            Thank you for visiting!
      </div>
</footer>
